{% extends "layout.html" %}
{% block title %}{{ post.title }} by {{post.uploader}}{% endblock %}

{% block content %}
<div class="element-post-full">
	
	<div class="post-header">
		<h2 class="title"><a href="{{ url_for('post', post_id=post.id) }}">
		{{ post.title }}
		</a></h2>
		<a href="https://furaffinity.net/view/{{ post.id }}">VIew on FA</a>
	</div>
	
	<img class="media-full" src="http://127.0.0.1:6771/image/{{ post.id }}.{{ post.ext }}" loading="lazy">
	
	<div class="post-info">
	
	<div class="desc">
	{% if post.descwords > 450 %}
	<details><summary>Description ({{ post.descwords }} words)</summary>
	{% endif %}
	{{ post.description | safe }}
	</div>
	
	<ul class="link-things">
		<span>Users:</span>
		{% for user in post.users_mentioned %}
        <li><a href="{{ url_for('uploader', uploader_name=user) }}">{{ user }}</a></li>{% endfor %}
    </ul>
	
	<ul class="link-things">
		<span>Tags:</span>{% for tag in post.tags %}
        <li><a href="{{ url_for('tag', tag_name=tag) }}">{{ tag }}</a></li>{% endfor %}
    </ul>
	
	</div>
</div>
{% endblock %}