{% extends "layout.html" %}
{% block title %}Tags{% endblock %}

{% block content %}
<h1>Tags</h1>
<i>{{ count }} tags saved</i>
<i>presenting {{ tags|length }}</i>

<div class="page-nav">
{% if page_no > 1 %}
<a href="{{ url_for('tags', page=page_no - 1) }}">&lt;</a>
{% elif count > posts|length %}
<a href="{{ url_for('tags', page=page_max) }}">&gt;|</a>
{% endif %}

{% if page_max > page_no %}
<a href="{{ url_for('tags', page=page_no + 1) }}">&gt;</a>
{% elif page_no > 1 %}
<a href="{{ url_for('tags', page=1) }}">|&lt;</a>
{% endif %}
</div>

<ul>
	{% for tag in tags %}
	<!--<li><a href="{{ url_for('tag', tag_name=tag.tag) }}">{{ tag.tag }} with {{ tag.post_count }} posts</a></li>-->
	<div class="element-post-thumb">
	<a href="{{ url_for('tag', tag_name=tag.tag) }}">
	<img class="media-thumb" src="http://127.0.0.1:6771/thumb/{{ tag.thumb_id }}.jpg" loading="lazy">
	{{ tag.tag }} - {{ tag.post_count }}</a>
	</div>
	{% endfor %}
</ul>

<div class="page-nav">
{% if page_no > 1 %}
<a href="{{ url_for('tags', page=page_no - 1) }}">&lt;</a>
{% elif count > posts|length %}
<a href="{{ url_for('tags', page=page_max) }}">&gt;|</a>
{% endif %}

{% if page_max > page_no %}
<a href="{{ url_for('tags', page=page_no + 1) }}">&gt;</a>
{% elif page_no > 1 %}
<a href="{{ url_for('tags', page=1) }}">|&lt;</a>
{% endif %}
</div>
{% endblock %}