{% extends "layout.html" %}
{% block title %}Uploaders{% endblock %}

{% block content %}
<h1>Uploaders</h1>
<i>{{ count }} uploaders saved</i>
<i>presenting {{ uploaders|length }}</i>

<div class="page-nav">
{% if page_no > 1 %}
<a href="{{ url_for('uploaders', page=page_no - 1) }}">&lt;</a>
{% elif count > posts|length %}
<a href="{{ url_for('uploaders', page=page_max) }}">&gt;|</a>
{% endif %}

{% if page_max > page_no %}
<a href="{{ url_for('uploaders', page=page_no + 1) }}">&gt;</a>
{% elif page_no > 1 %}
<a href="{{ url_for('uploaders', page=1) }}">|&lt;</a>
{% endif %}
</div>

<ul>
	{% for uploader in uploaders %}
	<!--<li><a href="{{ url_for('uploader', uploader_name=uploader.name) }}">{{ uploader.name }} with {{ uploader.post_count }} posts</a></li>-->
	<div class="element-post-thumb">
	<a href="{{ url_for('uploader', uploader_name=uploader.name) }}">
	<img class="media-thumb" src="http://127.0.0.1:6771/thumb/{{ uploader.thumb_id }}.jpg" loading="lazy">
	{{ uploader.name }} - {{ uploader.post_count }}</a>
	</div>
	{% endfor %}
</ul>

<div class="page-nav">
{% if page_no > 1 %}
<a href="{{ url_for('uploaders', page=page_no - 1) }}">&lt;</a>
{% elif count > posts|length %}
<a href="{{ url_for('uploaders', page=page_max) }}">&gt;|</a>
{% endif %}

{% if page_max > page_no %}
<a href="{{ url_for('uploaders', page=page_no + 1) }}">&gt;</a>
{% elif page_no > 1 %}
<a href="{{ url_for('uploaders', page=1) }}">|&lt;</a>
{% endif %}
</div>
{% endblock %}